* {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(166, 166, 166), rgb(234, 234, 234));
}

#paper {
    padding: 3rem;
}

#title {
    grid-column: 1 / -1;
}

#form {
    display: grid;
    grid-template: repeat(7, auto) / auto 2fr;
    align-items: center;
    row-gap: 1rem;
    column-gap: 2rem;
}

#calculate {
    grid-column: 1 / -1;
    height: 3.5rem;
}